$cell-size: 100px;
$gap: 1px;
$border-size: 1px;
$padding: 10px;
$day-count: 31;
$day-font-size: 30px;
$bg-color: #eee;
$hover-color: #ffbfcb;
$border-color: black;
$calendar-width: ((7 * $cell-size) + 6 * $gap + 2 * $padding);
